@import './base.css';
@import './googleIcons.css';

#app{
	display: flex;
	flex-direction: row;	
}

.danger{
	color: var(--color-danger);
}
.flex-column{
	flex-direction: column;
}
.flex-row{
	flex-direction: row;
}